table{
  width: 100%;
}
#new_row{
  z-index: 99999;
  width: 700px;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: grey;
  top: 0%;
  bottom: 0;
  border: 1px solid;
}
table.cart tr{
  margin-bottom: 2rem !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
table.cart td{
  padding: 0 !important;
}
table.cart td.product-name{
  text-align: left !important;
  display: flex;
  flex-direction: column;
}
table.cart tr.woocommerce-cart-form__cart-item.cart_item{
  background-color: #fdfdfd;
}
table.cart td.product-name a{
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-size: 2.2rem;
  line-height: 1.5;
}
table.cart .product-thumbnail img {
  max-width: 100px !important;
}
table.shop_table_responsive tr td {
  text-align: center !important;
}
.eyesbox{
  padding: 2px 13px;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
  font-weight: 500;
  font-size: 1.2rem;
}
table.cart .qty {
  width: unset;
}
.number-input button{
  width: unset;
  height: unset;
  background-color: unset;
}
.number-input button:after {
  content: unset;
}
.woocommerce-cart form.woocommerce-cart-form{
  width: calc(65% - 10px);
}
.woocommerce-cart  .cart-collaterals{
  width: calc(35% - 10px);
  background-color: #F5F5F5;
}
.entry-content .woocommerce{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.entry-content .woocommerce .cart_totals {
  width: 100% !important;
  padding: 15px 20px
}
.woocommerce .m-product{
  width: 100% !important;
}
.number-input{
  border: 1px solid;
  padding: 2px 13px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.2rem;
  width: 100px;
  margin: 0 auto;
}
table.cart td.product-quantity .qty {
  border: unset;
  width: 3rem !important;
  padding: 0 !important;
}
.number-input input[type=number] {
  height: 20px !important;
  font-size: 1.5rem;

}
.product-thumbnail{
  width: 100px;
}
.product-quantity{
  width: 150px;
  margin-left: auto;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  table.cart td.product-name {
    width: calc(100% - 265px);
    padding-left: 15px !important;
  }
}
.woocommerce-notices-wrapper{
  width: 100%;
}
.product-quantity .woocommerce-Price-amount.amount bdi{
  font-weight: bold;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: black;
}
.product-quantity .woocommerce-Price-amount.amount  .woocommerce-Price-currencySymbol{
  width: 100%;
  font-weight: 500;
  font-size: 1.4rem;
  color: grey;
  margin-top: 8px;
}
table.shop_table_responsive tr td {
  padding: 10px 0 !important;
}
.ttl_cart{
  font-size: 2.3rem;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.cart-collaterals .wc-proceed-to-checkout a.checkout-button{
  background-color:#EB6A6A;
  text-decoration: none;
  font-size: 1.7rem;
  padding: 10px;
  color: #F5F5F5;
  text-transform: uppercase;
  margin: 20px -20px 0;
}
.table.cart .product-quantity .plus, table.cart .product-quantity .minus{
  color: black;
}
.cross-sells a.add_to_cart_button{
  background: black;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.cart-collaterals{
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .woocommerce-cart form.woocommerce-cart-form, .woocommerce-cart  .cart-collaterals{
    width: 100%;
  }
  table.cart .product-thumbnail img {
    max-width: 80px !important;
  }
  .product-thumbnail {
    width: 80px;
  }
  table.shop_table_responsive tr td {
    padding: 3px 0 !important;
  }
  table.cart td.product-name a{
    font-size: 1.5rem;
  }
  table.shop_table_responsive tr td[data-title]::before, table.shop_table_responsive tr td[data-title]::before{
    content: none !important;
  }
  .eyes_box{
    display: flex;
    gap: 5px;
  }
  table.cart td.product-name{
    padding-left: 5px !important;
  }
  .eyesbox {
    padding: 2px 4px;
    margin-right: 0;
    font-size: 1rem;
  }
  table.cart .product-quantity .plus, table.cart .product-quantity .minus {
    display: block !important;
    color: black;
  }
  .product-quantity .number-input button{
    padding: 0;
  }
  .product-quantity .number-input{
    width: min-content;
  }
  table.cart tr{
    margin-bottom: 1rem !important;
  }
  tr.woocommerce_cart_actions, tr.woocommerce_cart_actions td{
    width: 100%;
  }
  tr.woocommerce_cart_actions .actions{
    display: flex;
    gap: 5px;
  }
  tr.woocommerce_cart_actions .actions .coupon{
    width: 75%;
    display: flex;
    gap: 5px;
  }
  table.cart td.product-name {
    justify-content: space-between;
  }
  .woocommerce_cart_actions button{
    height: 32px;
    font-size: 1.1rem;
  }
  .woocommerce_cart_actions input{
    margin: 0 !important;
  }
}
@media screen and (max-width: 375px) {
  .product-quantity {
    width: auto;
  }
}