table{
  width: 100%;
}
#new_row{
  z-index: 99999;
  width: 700px;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: grey;
  top: 0%;
  bottom: 0;
  border: 1px solid;
}
table.cart td.product-name a{
  font-weight: 600;
  text-decoration: none;
  color: black;
}