table{
  width: 100%;
}
#new_row{
  z-index: 99999;
  width: 700px;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: grey;
  top: 0%;
  bottom: 0;
  border: 1px solid;
}
table.cart tr{
  margin-bottom: 2rem !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
table.cart td{
  padding: 0 !important;
}
table.cart td.product-name{
  text-align: left !important;
  display: flex;
  flex-direction: column;
}
table.cart td.product-name a{
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
  line-height: 1.5;
}
table.cart .product-thumbnail img {
  max-width: 100px !important;
}
table.shop_table_responsive tr td {
  text-align: center !important;
}
.eyesbox{
  padding: 2px 13px;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
  font-weight: 500;
  font-size: 1.2rem;
}
table.cart .qty {
  width: unset;
}
.number-input button{
  width: unset;
  height: unset;
  background-color: unset;
}
.number-input button:after {
  content: unset;
}
/* .woocommerce-cart{
  display: flex;
  flex-wrap: wrap;
} */
.woocommerce-cart form.woocommerce-cart-form{
  width: calc(65% - 10px);
}
.woocommerce-cart  .cart-collaterals{
  width: calc(35% - 10px);
}
.entry-content .woocommerce{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.entry-content .woocommerce .cart_totals {
  width: 100% !important;
}
.woocommerce .m-product{
  width: 100% !important;
}
.number-input{
  border: 1px solid;
  padding: 2px 13px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.2rem;
  width: 100px;
  margin: 0 auto;
}
table.cart td.product-quantity .qty {
  border: unset;
  width: 3rem !important;
  padding: 0 !important;
}
.number-input input[type=number] {
  height: 20px !important;
  font-size: 1.5rem;
  
}
.product-thumbnail{
  width: 100px;
  margin-right: 15px;
}
.product-quantity{
  width: 150px;
  margin-left: auto;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}
.product-name{
  width: calc(100% - 265px);
}
.woocommerce-notices-wrapper{
  width: 100%;
}
.product-quantity .woocommerce-Price-amount.amount bdi{
  font-weight: bold;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product-quantity .woocommerce-Price-amount.amount  .woocommerce-Price-currencySymbol{
  width: 100%;
  font-weight: 500;
  font-size: 1.4rem;
}