.woocommerce-billing-fields__field-wrapper .form-row, #billing_city_field, #billing_address_2_field, .woocommerce-additional-fields{
  display: flex;
  padding: 3px;
  margin: 0 0 6px;
  flex-wrap: wrap;
  width: 100% !important;
}
.woocommerce-billing-fields__field-wrapper .form-row label, #billing_address_2_field > label, .woocommerce-additional-fields > h3{
  width: 200px !important;
  line-height: 2;
  width: 200px;
  display: flex;
  align-items: center;
  align-content: center;
}
.woocommerce-billing-fields__field-wrapper .form-row input, .form-row textarea, .form-row select {
  width: -webkit-fill-available;
}
.woocommerce-billing-fields__field-wrapper input{
  color: #666666;
  background-color: #fafafa;
  border-color: #cccccc;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  outline: 0;
  line-height: normal;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 10px 15px;
}
.woocommerce-billing-fields__field-wrapper  .select2-container .select2-selection--single{
  height: unset;
  border-radius: unset;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 36px;
  background-color: #fafafa;
}
.woocommerce-info, .woocommerce-noreviews, p.no-comments {
  background-color: #eb6a6a;
}
.col-2 .woocommerce-additional-fields__field-wrapper textarea{
  height: 80px;
}
#order_review .shop_table .cart_item{
  height: 40px;
}
#order_review .shop_table  thead{
  height: 30px;
  text-align: left;
}
tfoot tr{
  height: 40px;
  text-align: left;
}
tfoot tr th{
  padding-left: 15px;
}
#order_review .shop_table thead th, #order_review .shop_table tbody tr td{
  padding-left: 10px;
}
#order_review .shop_table tbody tr td{
  padding: 10px;
}
#order_review .shop_table tbody tr .product-name p {
  padding: 5px 0;
}
.product-img {
  width: 50px;
  height: 50px;
}
#payment .payment_methods li input[type=radio]:first-child:checked+label:before {
  color: #eb6a6a;
}
#place_order{
  text-align: center;
  text-decoration: none;
  background-color: #D82929;
  border-radius: 5px;
  display: block;
  padding: 1.5rem 0;
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: 400;
  border: 0;
  margin: 15px auto;
}
.xoo-ml-phone-cc + .select2.select2-container .select2-selection__rendered, .xoo-ml-phone-cc + .select2 .selection, .xoo-ml-phone-cc + .select2 .select2-selection {
  height: max-content;
  background-color: white;
}
.form-row input, .form-row textarea, .form-row select {
  width: -webkit-fill-available;
}
@media screen and (max-width: 768px) {
  .woocommerce-billing-fields__field-wrapper .form-row, #billing_city_field, #billing_address_2_field, .woocommerce-additional-fields{
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .woocommerce-billing-fields__field-wrapper .form-row > span, .woocommerce-billing-fields__field-wrapper .form-row span.select2, .col-2 .woocommerce-additional-fields__field-wrapper {
    width: calc(100% - 200px) !important;
  }
  #order_review .shop_table {
    width: 100%;
  }
}